:root {
    --background-dark: #121212;
    --foreground-dark: #1e1e1e;

    --primary-color: #6495ed;
    --primary-light: #8baeda;
    --primary-dark: #4169e1;

    --text-light: #e0e0e0;

    --button-background: var(--primary-color);
    --button-background-hover: var(--primary-light);
    --button-text-color: #fff;
    --button-border: var(--primary-dark);

    --input-focus-border: var(--primary-color);
}

html,
body,
#root {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#root {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    align-content: center;
    padding-left: 10px;
    padding-right: 10px;
    background-color: var(--background-dark);
    color: var(--text-light);
}

button {
    color: var(--button-text-color);
    background-color: var(--button-background);
    border: 1px solid transparent;
    cursor: pointer;
    transition: 200ms;
}

button:hover {
    background-color: var(--button-background-hover);
    border: 1px solid var(--button-border);
}